body{
    margin: 0;
    padding: 0;
    background-image: url(https://picfiles.alphacoders.com/294/thumb-1920-294503.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card{
    width: 300px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 22px;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(7px);
}